* {
  padding: 0;
  margin: 0;
}

.home-image {
  background-image: url("../assets/HomeImage/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.hero h1 {
  color: #fff;
  font-size: 89px;
  font-weight: 800;
  padding-top: 12rem;
  padding-left: 4rem;
}

.hero p {
  color: #fff;
  font-size: 30px;
  font-weight: 100;
  padding-top: 2rem;
  padding-left: 4rem;
}

.backBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8rem;
  margin-top: 2rem;
}

.backBtn img {
  height: 4rem;
  width: 4rem;
}

@media screen and (max-width: 650px) {
  .home-image {
    height: 80vh;
  }
  .hero h1 {
    font-size: 40px;
    font-weight: 700px;
    transform: translateY(-5rem);
  }

  .hero p {
    font-size: 20px;
    transform: translateY(-5rem);
  }

  .backBtn {
    transform: translateY(-5rem);
  }

  .backBtn img {
    height: 2rem;
    width: 2rem;
  }
}

.search {
  background-color: #304f47;
  height: 88px;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  transform: translateY(-3rem);
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 0.8rem;
}

.input {
  background-color: #fff;
  border: 1px solid;
  border-radius: 10px;
  align-items: center;
  display: flex;
  text-align: center;
  width: 15rem;
  font-size: small;
  justify-content: space-around;
  height: 3rem;
}

.item-guest p {
  color: #9a9ab0;
}

.date {
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0.5rem;
}

.scroll-icon {
  display: flex;
  float: right;
  margin-right: 9rem;
  gap: 1rem;
  padding: 1rem;
}

.destination {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;
  margin: auto;
  margin-top: 6rem;
  gap: 20px;
  overflow: scroll;
}

.destination-items {
  width: 305px;
  height: 556px;
  border-radius: 8px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text h1 {
  font-size: 70px;
  font-weight: 800;
}

.text p {
  color: #9a9ab0;
  font-weight: 400;
}

.Us {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 1rem;
  gap: 10px;
}

.chose-us {
  width: 250px;
  height: 150px;
  background-color: #304f47;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.us-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  color: #fff;
}

@media (max-width: 800px) {
  .Us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px;
    margin: 0 auto;
  }
}


@media (max-width: 400px) {
  .Us {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 200px;
    margin: 0 auto;
  }
}
