_* {
  padding: 0;
  margin: 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 2rem;
  color: #304f47;
}

.nav-bar ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-bar ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.menu-btn {
  display: none;
}

@media (max-width: 650px) {
  .navigation {
    display: flex;
    flex-wrap: wrap;
  }
  .nav-bar {
    display: flex;
    flex-wrap: wrap;
  }

  .nav-bar ul {
    display: flex;
    transform: translateY(-25px);
    flex-direction: column;
    gap: 2px;
  }

  .nav-bar ul li {
    list-style: decimal;
  }
}

@media screen and (max-width: 300px) {
  .navigation {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    align-items: start;
    justify-content: start;
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
  }

  .nav-bar ul {
    display: flex;
    transform: translateY(-55px);
    flex-direction: column;
    gap: 2px;
    
  }

  .btn {
    transform: translateY(-55px);
  }
}
