body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
  margin-top: 1.5rem;
}

.btn {
  width: 8rem;
  height: 3rem;
  background-color: #c7923e;
  border: 0.4px solid;
  border-radius: 7px;
  color: white;
  font-weight: 400;
}